html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: inherit;
    outline: none;
    text-decoration: none;
}

a:hover {
    outline: none;
    color: inherit;
    text-decoration: none;
}

section {
    padding: .8rem;
}

/* Utils                                               */
.u-secondaryBg {
    background: #fafafa;
}

.u-contained {
    max-width: 900px;
    margin: auto;
}

.u-justified {
    text-align: justify;
}


/*******************************************************/
/* Header                                              */
/*******************************************************/
.Header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem .8rem 2rem .8rem;
    background-color: #252525;
    color: #fff;
}

.HeaderTitle {
    line-height: 2.35rem;
    font-size: 2.35rem;
    font-weight: 300;
    text-align: center;
}

.HeaderSubTitle {
    margin-bottom: 2rem;
    line-height: 1rem;
    font-size: 1rem;
    font-weight: 200;
    text-align: center;
}

/*******************************************************/
/* About                                               */
/*******************************************************/
.About {
    padding: 1.5rem 0.8rem;
    margin-bottom: 1rem;
}

.About p {
    max-width: 900px;
    margin: auto;
    margin-bottom: .5rem;
    text-align: justify;
}

.About a {
    background: linear-gradient(#ffd900, #ffd900);
    background-size: 100% .2em;
    background-repeat: no-repeat;
    background-position: left 0 bottom -1px;
}

/*******************************************************/
/* Footer                                              */
/*******************************************************/
.Footer {
    padding: 1.5rem .8rem;
    font-size: .8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*******************************************************/
/* Section                                             */
/*******************************************************/
.SectionTitle {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 400;
    color: #414141;
}

.SectionTitle::after {
    content: '';
    display: block;
    width: 60px;
    margin: auto;
    margin-top: .2rem;
    border-bottom: 1px solid rgba(66, 66, 66, 0.15);
}

/*******************************************************/
/* Cards                                               */
/*******************************************************/
.Card {
    background-color: #f5f5f5;
    padding: 2rem;
    margin-bottom: 1rem;
}

.Card blockquote {
    font-size: .8rem;
    margin: 0 0 .8rem;
    color: #414141;
}

.Card blockquote p {
    margin: 0;
}

.Card cite {
    text-align: right;
    display: inline-block;
    width: 100%;
}

.Card cite::before {
    content: '—';
    margin-right: .4em;
}

.Card p {
    text-align: justify;
}

.CardTitle {
    color: #414141;
    font-size: 24px;
    font-weight: 200;
}

.CardTitle--icon {
    display: block;
    font-size: 1.2em;
    /* color: #4486f6; maybe..... */
}

@media screen and (min-width: 640px) {
    .Cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: -1rem;
    }
    .Cards .Card {
        width: calc(50% - 1rem - .01px);
        margin: 0 0 1rem 1rem;
    }
}

@media screen and (min-width: 1250px) {
    .Cards {
        max-width: 1850px;
        margin: auto;
    }
    
    .Cards .Card {
        width: calc(25% - 1rem - .01px);
    }
}

/*******************************************************/
/* SocialBar                                           */
/*******************************************************/
.SocialBar a {
    font-size: 1.2rem;
}

.SocialBar a+a {
    margin-left: 1rem;
}

.SocialBar--dark a {
    color: #414141;
}

.SocialBar--big a {
    font-size: 1.4rem;
}

/*******************************************************/
/* Timeline                                            */
/*******************************************************/
.Timeline {
    --border-color: rgba(0, 0, 0, .3);
    --icon-size: 1.5rem;
}

.Timeline-item {
    position: relative;
    padding: 3em 2em 2em;
    border-left: 2px solid var(--border-color);
    color: rgba(0, 0, 0, .7);
    font-size: .9rem;
}

.Timeline-item h4 {
    font-size: 1.1rem;
    line-height: var(--icon-size);
}

.Timeline-item h4 img {
    height: var(--icon-size);
    width: var(--icon-size);
    margin-right: .4rem;
}

.Timeline-item::before {
    content: attr(data-from);
    position: absolute;
    left: 2em;
    top: 1em;
    font-weight: bold;
    font-weight: 700;
    font-size: .8rem;
}

.Timeline-item::after {
    content: '';
    position: absolute;
    top: 1em;
    left: -6px;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    border: 2px solid var(--border-color);
    background: white;
}

.Timeline-item:last-child {
    border-image: linear-gradient(to bottom, var(--border-color) 60%, rgba(0, 0, 0, 0)) 1 100%;
}

.Environment {
    list-style: none;
    margin: .1em 0;
    padding: 0;
    color: rgba(0, 0, 0, .5);
}

.Environment>* {
    display: inline;
}

.Environment>*+*::before {
    content: '/';
    margin: 0 .6em;
}