*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, “Roboto”, “Oxygen”, “Ubuntu”, “Cantarell”, “Fira Sans”, “Droid Sans”, “Helvetica Neue”, sans-serif;
}

header {
    /* background-color: chartreuse; */
    /* background-color: #555; */
    background-color: #252525;
    opacity: 1;
    background-size: cover;
    background-position: 50% 50%;

    color: white;
    height: 200px;
}

main {
    max-width: 900px;
    margin: auto;
}

.u-secondaryBg {
    background: #fafafa;
}

.container {
    width: 750px;
    margin: auto;
}