header {
    background-color: #252525;

    color: white;
    height: 200px;

    width: 100%;
}

.u-secondaryBg {
    background: #fafafa;
}

.SectionTitle {
    width: 100%;
    text-align: center;

    color: #414141;
    font-size: 2rem;
    font-weight: 400;
}